body, html {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.header {
    height: 67px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C3CFD9;
    font-size: 34px;
    color: #E8833A;
}

.loading {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
   
}

.movies {
    margin-top: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movies p {
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #293845;
}

.movies-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movie-link {
    height: 209px;
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 8px;
    margin: 11px;  
}

.movie-link img {
    height: 193px;
    width: 129px;
}

.sessions {
    margin-top: 67px;
    margin-bottom: 117px;
    display: flex;
    flex-direction: column;  
}

.sessions p {
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #293845;
}

.sessions-list{
    margin-left: 24px;
}

.day {
    width: 100vw;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
}

.day p {
    height: 35px;
    width: 100vw;
    display: flex;
    justify-content: start;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 22px;
    color: #293845;
}

.day-sessions {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    color: #293845;
}

.session-link {
    height: 43px;
    width: 83px;
    background: #E8833A;
    border-radius: 3px;
    font-size: 18px;
    line-height: 21px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
}

.session {
    margin-top: 67px;
    margin-bottom: 117px;
    display: flex;
    flex-direction: column; 
}

.session p {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #293845;
    margin-top: 20px;
}

.seats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 24px;
}

.seat {
    height: 26px;
    width: 26px;
    background: #C3CFD9;
    border: 1px solid #808F9D;
    box-sizing: border-box;
    border-radius: 12px;
    color: #000000;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 9px 3px;
}

.seat p {
    font-size: 11px;
    color: #000000;
    margin: 0px;
}

.taken {
    background-color:#F7C52B;
}

.selected {
    background-color:#8DD7CF;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    height: 51px;
    width: 327px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 7px;
}

.res-button {
    width: 225px;
    height: 42px;
    background: #E8833A;
    border-radius: 3px;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer {
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 14px 10px;
    background-color: #DFE6ED;
    border: 1px solid #9EADBA;
}

.footer img {
    height: 72px;
    width: 48px;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.footer .movie-info {
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.footer .movie-info p{
    margin: 0px 0px;
    font-size: 15px;
    color: #293845;
}


.success {
    box-sizing: border-box;
    width: 100%;
    margin-top: 67px;
    margin-bottom: 117px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.success-title {
    width: 200px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #247A6B;
    text-align: center;
}